# Logs
logs
*.log
log/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# 개발이 끝나지 않았으므로 build 제거
build
node_modules
package-lock.json

.DS_Store

.prettierignore
.env

# Logs
**/logs
**/*.log
**/log/*
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*

**/node_modules
**/package-lock.json

**/config/secret_sms.js
**/config/database.js
**/config/secret.js
**/config/mailAuth.js

**/.DS_Store

**/.prettierignore
**/.env